.nshover {
	opacity: .78;
}
.nshover:hover {
    opacity: 1;
    box-shadow: 2px;
}

.name {
    background-color: #00ac6d;
    opacity: .78;
}

.name:hover {
    background-color: #00dd8c;
    opacity: 1;
}

.fire {
    opacity: 1;

}

.fire:hover {
    position:absolute;
    opacity: 1;
    width: 100px;
    height: 70px;
}

.nsopacity {
    opacity: .9;
}
